//  ----- colours  -----

$clr-primary-cyandk: hsla(179, 62%, 43%, 1);
$clr-primary-cyanlt: hsla(180, 46.7%, 51.3%, 1);
$clr-primary-bryellow: hsla(71, 73%, 54%, 1);
$clr-secondary-ltgrey: hsla(204, 43%, 93%, 1);
$clr-secondary-grblue: hsla(218, 22%, 67%, 1);
$clr-grey: hsla(231, 14%, 79%, 1);
$clr-white: hsla(0, 100%, 100%, 1);
$clr-white80: hsla(0, 100%, 100%, .8);
$clr-white50: hsla(0, 100%, 100%, .5);